---
import '../styles/global.css'
---
<html lang="en" class="dark">
  <head>
  <!-- per-page head slot -->
    <meta charset="UTF-8" />
    <slot name="head" />
  
  </head>
  <body class="bg-gray-900 text-gray-100 font-sans min-h-screen">
    <slot />
  </body>
</html>