---
import FruityButton from "./FruityButton.astro";
---

<nav class="flex flex-col space-y-2 w-[10vw] min-w-[80px] max-w-[150px] bg-black p-4 h-screen fixed top-0 left-0">
	<FruityButton href="/" label="Home" flavor="Blueberry"/>
	<FruityButton href="website" label="websites" flavor="Mango"/>
	<FruityButton href="invoices" label="invoices" flavor="Kiwi"/>
	<FruityButton href="contacts" label="contacts" flavor="Coconut"/>
	<FruityButton href="playground" label="playground" flavor="Plum"/>
	<FruityButton href="playground" label="prospects" flavor="Peach"/>
	<FruityButton href="playground" label="quotes" flavor="Watermellon"/>
	<FruityButton href="bento" label="sexy" flavor="Grape"/>
	<FruityButton href="test" label="test" flavor="Cherry"/>
</nav>